@import "../common/variables";

.banner {
  &__item {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__option {
    &-title {
      text-align: start;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: -300px;
        width: 366px;
        height: 366px;

        background: linear-gradient(to right, rgba(226, 208, 196, 1), rgba(226, 208, 196, 0));
        padding: 2px;
        border-radius: 50%;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
      }

      &::after {
        left: 100%;
        top: -120px;
        width: 750px;
        height: 750px;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;

      max-width: 380px;
    }
  }

  &__img {
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      left: -50%;
      top: -20%;
      z-index: 0;

      background-color: #f7f5ef;
      height: 200%;
      width: 100%;
    }
  }
}
