@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $font-black;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: $xl;
  width: 100%;
}

.header {
  position: relative;
  z-index: 1000;
}

.section {
  &-main {
    max-height: 768px;
    height: 100%;
    overflow: hidden;

    background-color: #fdfdfb;
  }

  &-popular {
    padding: 76px 0 86px;
  }

  &__title {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 32px;

    margin-bottom: 52px;
  }

  &-banner {
    padding: 52px 90px;
    background-color: #fdfdfb;
    position: relative;

    overflow: hidden;
  }

  &-social {
    padding: 80px 0;
  }
}

.footer {
  background-color: $dark;
  padding: 64px 0 67px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }

  &__col {
    &-title {
      font-weight: 700;
      text-transform: uppercase;
      margin: 15px 0 30px;
      // margin-bottom: 30px;

      color: #fff;
    }

    &-logo {
      display: inline-block;
      margin-bottom: 24px;

      img {
        cursor: pointer;
      }
    }

    &-link {
      margin-bottom: 5px;

      > a {
        display: inline-block;
        text-decoration: none;
        color: #fff;

        padding: 5px 0;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}
